.carousel {
  display: flex;
  overflow: hidden;

  &__gallery {
    display: flex;
    overflow: hidden;
  }

  &__button {
    width: 32px;
  }
}

.gallery__item > img {
  width: 1440px;
  height: 400px;
}